@model IEnumerable<PolyteksKaliteKontrolTakip.Models.Qdms_Kullanici>

@{
    ViewBag.Title = "Kullanici";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<center><h2><b>ISO - 10002 Kalite Kontrol Takip Kullanıcı Listesi</b></h2></center>


<table class="table table-bordered table-striped table-active table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KullaniciKodu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonelKodu)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.Bolum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdSoyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
    
   
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KullaniciKodu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonelKodu)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.Bolum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdSoyad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>

       
   
    </tr>
}

</table>
